.main-header span {
    display: block;
}
.main-header {
    margin-top: 124px;
    margin-bottom: 84px;
    line-height: 1.5;
}

.form {
    border: 5px solid #3c3cdd;
    padding: 35px 20px; 
   
}

.form-header {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 25px;
}

.video {
    margin-bottom: 30px;
}

.form input {
    margin: 15px auto;
}

.form-btn {
    margin: 12px auto;
}

.section-header {
    margin: 152px auto;
    font-weight: 900;
}

.feature-box p {
    margin-top: 20px;
}

.clients {
    font-weight: 900;
    margin: 100px 0 70px 0;
}

.clients-btn {
    margin-top: 97px;
}

.images {
    margin-bottom: 35px;
}